
.fondo-oscuro{
  background-color: #212529 !important;
  color: #fff !important;
}

.fondo-claro{
  background-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li input,
li p {
  display: inline-block;
  vertical-align: middle;
}

li{
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

li div {
    display: flex;
    align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.borrar{
  background-color:rgb(206, 102, 102);
  color: #fff;
}

.borrar:hover{
  background-color:rgb(168, 88, 88);
  color: #fff;
}

.modificar{
  background-color: rgb(42, 127, 253);
  color: #fff;
}

.modificar:hover{
  background-color: rgb(66, 102, 155);
  color: #fff;
}

.actualizar{
  background-color:#09b1db ;
  color: #fff;
}

.actualizar:hover{
  background-color:#098aaa ;
  color: #fff;
}

.tareaActualizada{
  border: 1px solid #ced4da4b;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tareaActualizada:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.bg-custom{
  background-color: #758ddd;
}

.hover:hover{
  background-color: #6273aa;
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

li.completada {
  transition: all 0.5s ease-out;
  opacity: 0.5;
}
